.navbar {background-color: rgba(38, 94, 120, 1);
color: rgba(241, 185, 87, 1);
}

a {color: rgba(38, 94, 120, 1);}

body {background-color: rgba(38, 94, 120, 1);
color:rgba(241, 185, 87, 1);
}

.foot{
background-color: rgba(95, 130, 90, 1);
color:rgba(235, 213, 152, 1);
}